@import 'basscss';

body{
  background-color: #F4F4F4;
}
:root {
  --font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.section-title{
  margin: 0;
  padding: 5px;
  text-align: center;
  background: #444;
  color: #fff;
  margin-bottom: 10px;
}

.section-description{
  margin-bottom:30px;
}

.gravatar{
  border-radius: 50%;
}

.design-container{
    margin: 0 20px 30px;
    background-color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);

}

.design-shot{
  /*

  */
}

.design-shot{
  padding: 10px;
  margin: 0px;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  clear: left;
}

.design-img{
  max-width: 100%;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
}

.tools{
  text-align: left;
}
ul.tools li{
  float: right;
  width: auto;
  margin: 0 0 0 12px;
  display: inline;
  font-size: 11px;
  line-height: 1;
  color: #aaa;
}

ul.tools li a {
    padding: 0 10px 5px 0;
    text-decoration: none;
    color: #aaa;
    padding-left: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
}
